<div class="row about-me">
  <div class="col-md-4 about-me-pic"><img src="/assets/images/pic.png" /></div>
  <div class="col-md-8">
    <h1>Manpreet “Manny” Singh</h1>
    <h4>Full Stack Software Engineer</h4>

    <p>
    Self-proclaimed hacker junky. Hackathon enthusiast.  Creative engineer with a focus on design. Colts fan. Lover of folk music. Favorite language is Swift. Apple fanboy.
    </p>

    <p>
    I love bringing ideas to life. I have a passion for creating any kind of software, large or small, that helps improve peoples lives. Always hungry to learn about new technology and better ways to do things. In todays world, technology is the center of success and progress. Technology done right can be powerful for an individual/business. 
    </p>

    <br>
    <h4>Skills</h4>

    <p>
    Swift · Objective-C · Python · Java · Javascript · C# ·  Node.js · React.js · Ember.js · Xamarin · React Native · Linux · Apple · Android · HTML5 · CSS3 · Bootstrap · Git · Xcode · Android Studio · Sketch · OOP · FP · MongoDB ·  PostgreSQL · MySQL · BLE · AWS
    </p>

    <br>
    <h4>Past Hackathons</h4>

    <ul>
      <li>
        First place winner of 2013 SmartFile Platform Bake-Off for creating SmartClip, a Google Chrome extension that enables you to capture text, links, and images from articles and save them for later reading.
      </li>
      <li>
        First place in Angie’s List Hack Day event. Created the first Google Glass app for Angie’s List SnapFix.
      </li>
      <li>
        Second place winner in FeedTheHack hackathon by Appirio for IndyFoodTrucks, an iOS app that allowed food truck customers to find their favorite food trucks throughout Indy.
      </li>
    </ul>

  </div>
</div>
