<div *ngIf="project" class="project-details">
  <h2>{{project.title}}</h2>
  <h4>{{project.subtitle}}</h4>
  <p>{{project.description}}</p>
  <div *ngFor="let link of project.links">
    <a href="{{link}}" target="_blank">
        {{link}}
    </a>
  </div>

  <br>

  <div class="row project-screenshots">
    <div class="col-sm-6 col-xs-12 project-screenshots-item"
        *ngFor="let screenshot of project.screenshots">
        <a href="/assets/images/projects/{{screenshot}}" target="_blank">
          <img src="/assets/images/projects/{{screenshot}}" alt="{{screenshot}}" />
        </a>
    </div>
  </div>
</div>

<div *ngIf="!project" class="loading"></div>
