<div class="contact-me">
  <h1>Get in contact with me</h1>

  <br /> | <br />
  <br />317-224-5337
  <br /><a href="mailto:likebeats@gmail.com">likebeats@gmail.com</a>

  <div class="contact-me-icons">
    <a href="https://www.linkedin.com/in/likebeats" target="_blank">
      <img src="/assets/images/linkedin-icon.png" alt="LinkedIn" />
    </a>
    <a href="https://github.com/likebeats" target="_blank">
      <img src="/assets/images/github-icon.png" alt="Github" />
    </a>
    <a href="https://twitter.com/likebeats" target="_blank">
      <img src="/assets/images/twitter-icon.png" alt="Twitter" />
    </a>
    <a href="https://angel.co/likebeats" target="_blank">
      <img src="/assets/images/angel-list-icon.png" alt="AngelList" />
    </a>
  </div>
</div>


