<nav>
  <a routerLink="/" class="navIcon"> <img src="/assets/images/about-me-icon.png" /></a>
  <ul>
    <li> <a routerLink="/about-me" routerLinkActive="active" class="hover">ABOUT ME <span class="line css3Animate"></span></a> </li>
    <li> <a routerLink="/projects" routerLinkActive="active" class="hover">WORK <span class="line css3Animate"></span></a> </li>
    <li> <a href="/assets/files/resume.pdf" target="_blank" class="hover">RESUME <span class="line css3Animate"></span></a> </li>
    <li> <a routerLink="/contact" routerLinkActive="active" class="hover">CONTACT <span class="line css3Animate"></span></a> </li>
  </ul>
</nav>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  [ footer ]
</footer>
