/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

body {
  font-family: 'Josefin Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #4C4C4C;
  background-color: #F7F7F7;
  background-image: url("/assets/images/gray-texture.png");
}

a {
  color: #368FE0;
  text-decoration: none;
  outline: 0;
  border: 0;
  outline: 0;
}

a:link {
  color: #368FE0;
  text-decoration: none;
}
a:visited {
  color: #368FE0;
  text-decoration: none;
}
a:hover {
  color: #368FE0;
  text-decoration: underline;
}
a:active {
  color: #368FE0;
  text-decoration: none;
}

h1 {
  margin:0;
}

h4 {
  font-size: 20px;
}

p {
  margin: 15px 0 15px 0;
}

.css3Animate {
  -webkit-transition: all .3s ease-in-out .001s;
  transition: all .3s ease-in-out .001s;
  -moz-transform: all .3s ease-in-out .001s;
}
