<div *ngIf="projects" class="row projects-list">
  <div class="col-sm-4 col-xs-12 projects-list-item-col"
    *ngFor="let project of projects"
    [class.active]="project === selectedProject">

    <div class="projects-list-item">
      <a routerLink="/projects/{{project._id}}" routerLinkActive="active">
        <img src="/assets/images/projects/{{project.thumbnail}}" alt="{{project.title}}" />
      </a>
      <div class="caption">
        <div>{{project.title}}</div>
        <div>{{project.subtitle}}</div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!projects" class="loading"></div>
